.container-fluid .fab-container {
    width: 65px;
    height: 65px;
    background: #009879;
    display: flex;
    border-radius: 50%;
    color: #ffffff;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    outline: blue;
    border: none;
    cursor: pointer;
    position: fixed;
}

.container-bot {
    display: flex;
    justify-content: flex-end;
}

.container-chatbot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    user-select: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

#chat {
    top: 64px;
    bottom: 0;
    /*  position: fixed; */
    width: 100%;
    overflow-y: scroll;
    /*  padding-bottom: 150px; */
}

#chat .message {
    background: #efefef;
    padding: 10px 20px;
    border-radius: 4px;
    width: auto;
    display: inline;
    float: left;
    margin: 10px 10px 0;
    min-width: 440px;
    clear: both;
}

#chat .message.me {
    display: inline;
    float: right;
    background: #DCEDE0;
    color: #56A668;
}