{% extends "../../base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Create or Edit Post" %}{% endblock %}

{% block content %}
{% if instance %}
{% blocktrans with instance_title=instance.title %}
Editing post with title {{ instance_title }}
{% endblocktrans %}
{% else %}
{% trans "Creating new post" %}
{% endif %}

<form method="post" {% if is_file_upload %}enctype="multipart/form-data" {% endif %}>
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit">
        {% if instance %}
        {% trans "Edit Post" %}
        {% else %}
        {% trans "Create Post" %}
        {% endif %}
    </button>
</form>
{% endblock %}