{% extends "../../base.html" %}
{% load i18n %}
{% block title %}
{% blocktrans with title=post.title %}
{{ title }}
{% endblocktrans %}
{% endblock %}

{% block content %}
<h1>
    {% blocktrans with title=post.title %}
    {{ title }}
    {% endblocktrans %}
</h1>
<p class="date">
    {% blocktrans with publication_date=post.publication_date author=post.author %}
    Published {{ publication_date }} by {{ author }}
    {% endblocktrans %}
</p>
<p>
    {% blocktrans with user_post_content_detail=post.content|linebreaks %}
    {{ user_post_content_detail }}
    {% endblocktrans %}
</p>
<a href="{% url 'blog:post_update' post.pk %}">{% trans "Edit" %}</a>
{% endblock %}