{% extends "../../base.html" %}
{% load i18n %}
{% block title %}{% trans "My Blog" %}{% endblock %}
{% block content %}
<h1>{% trans "My Blog" %}</h1>
{% for post in posts%}
<h2>
    <a href="{{ post.get_absolute_url }}">
        {% blocktrans with title=post.title %}
        {{title }}
        {% endblocktrans %}
    </a>
</h2>
<p class="date">
    {% blocktrans with publication_date=post.publication_date author=post.author%}
    Published {{ publication_date }} by {{ author }}
    {% endblocktrans %}
</p>
{% blocktrans with user_post_content=post.content|truncatewords:30|linebreaks %}
{{ user_post_content }}
{% endblocktrans %}
{% endfor %}
{% include "../../pagination.html" with page=posts %}
{% endblock %}