{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/blog.css' %}" rel="stylesheet" />
</head>

<body>
    <div id="header">
        <a href="{% url 'blog:post_create' %}">
            {% trans "Create new post" %}
        </a> |
        <a href="{% url 'blog:post_list'%}">
            {% trans "View all posts" %}
        </a> |
        <a href="{% url 'chat:chatbot_room'%}">
            {% trans "Chatbot" %}
        </a>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        <p>{% trans "Language" %} :</p>
        <ul class="languages">
            {% for language in languages %}
            <li>
                <a href="/{{ language.code }}/" {% if language.code is LANGUAGE_CODE %} class="selected" {% endif %}>
                    {{ language.name_local }}
                </a>
            </li>
            {% endfor %}
            <li>
                <form action="{% url 'blog:search_post' %}">
                    <input type="search" placeholder="search" name="search" value="{{ search_text }}" minlength="3" />
                    <button type="submit">Search</button>
                </form>
            </li>
        </ul>
        <!-- <div class="languages">
            <label for="language-select">{% trans "Language" %}</label>

            <select name="language-switcher" id="language-select">
                {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code is LANGUAGE_CODE %} class="selected" {% endif%}>
                    {{ language.name_local }}
                </option>
                {% endfor %}
            </select>
        </div> -->
    </div>
    <hr />
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block include_js %}
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            //DOM loaded
            {% block domready %}
            {% endblock %}
        })
    </script>

    <!-- <script src="{% static 'js/language_switcher.js' %}"></script> -->
</body>

</html>